*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(images/bg-intro-desktop.png);
    background-color:hsl(0, 100%, 74%);
    display: flex;
    justify-content: center;
}
.container{
    padding: 50px;
    display: flex;
    align-items: center;
    height: 100vh;
}
.intro-content{
    flex: 1;
    color: white;
    padding: 25px;
}

.intro-content h2{
    font-size: 55px;
    margin-bottom: 10px;
}

.intro-content p{
    font-size: 16px;
}
.signup{
    flex: 1; 
    padding:0 15px;
    max-width: 500px;
}
.form-content{
    background-color: white;
    padding: 20px;
    margin-bottom: 25px ;
    border-radius: 10px;
}

.trial{
    width: 100%;
    padding: 15px 9px;
    margin-bottom: 15px;
    background-color: hsl(248, 32%, 49%);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}
.trial span{
    font-size: 12px;
    color:  hsl(246, 25%, 77%);
}
.form-content input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}
.button{
    width: 100%;
    padding:14px 10px;
    border: none;
    color:white;
    font-size: 14px;
    border-radius: 5px;
    background-color:hsl(154, 59%, 51%) ;
    margin: 10px 0px;
    cursor: pointer;
}
.terms {
    color: hsl(246, 25%, 77%);
    text-align: center;
    font-size: 14px;
}
.terms a{
    text-decoration:none ;
    color: red;
}

.error {
    color: rgb(240, 100, 100);
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: bold;
}